body{
    background:rgba(0, 0, 255, 0.258);
}
@font-face {
    font-family: 'creepy';
    src: url('./Fontes/Creepster-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mystery';
    src: url('./Fontes/MysteryQuest-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nosifer';
    src: url('./Fontes/Nosifer-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.carousel-container {
    padding: 2rem;
    border-radius: 20px;
    margin: 5rem auto;
    box-shadow: 0 4px 12px rgba(58, 240, 83, 0.76);
}

.carousel-item > .row {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.carousel-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}

.carousel-indicators [data-bs-target] {
    background-color: #ffffff;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-indicators .active {
    background-color: #000;
}

/* ----- FNAF ----- */
#carouselFNAF {
    /* background: linear-gradient(to right, #000000, #8B4513); */
    background: rgb(208, 0, 255);    
    border: 2px solid #e1adff;
    box-shadow: 0 4px 15px rgb(128, 0, 202);
}
#carouselFNAF h3 {
    font-family: 'creepy';
    font-size: 3rem;
    text-align: center;
}

.carousel-item img {
    width: 300px;
    max-width: 100%;
    height: 300px;
    display: block;
    margin: 0 auto;
}
#meuCarrossel img{
    width: 300px;
    max-width: 90%;
    height: 700px;
    display: block;
    margin: 0 auto;
    justify-content: center;
}
#meuCarrossel.carousel.slide{
    background: rgb(208, 0, 255);    
    border: 2px solid #e1adff;
    box-shadow: 0 4px 15px rgb(128, 0, 202);
    border-radius: 20px;
    margin-bottom: 50px;
}