body {
    margin: auto;
    display: flex;
    background-color: rgba(65, 15, 111, 0.407);
    
}

img#imgfundo {
    background-size: cover;
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    opacity: 70%;
}

div#topo {
    position: absolute;
    display: flex;
    top: 10px;
}

img#logo{
    padding: 30px;
    width: 100px;
    height: 70px;
    border-radius: 50%;
}
  
nav#menu ul {
    position: fixed;
    top: 30px;
    left: auto;
    right: 90px;
    list-style: none;
    display: flex;
    padding: 5px;
    gap: 20px;
    background-color: rgba(157, 44, 44, 0.09);
    border-radius: 10px;
}

#menu li {
    font-size: 20px;
}

nav#menu a {
    color: black;
    text-decoration: none;
}

nav#menu a:hover {
    text-decoration: underline;
    color:rgb(124, 2, 49);
}

div#conteiner {
    position: fixed;
    display: flex;
    margin-top: 350px;
    margin-left: 500px;

}

.input-group {
    min-width: 320px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    background-color: #ffffff;
    width: 500px;
    height: 30px;
    padding: 8px 16px 8px 8px;
    border-radius: 24px;
    gap: 8px;
}
.input-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    min-height: 32px;
}
.input-field {
    width: 100%;
    border: none;
}
.input-field:focus{
    outline: none;
}

#btn {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 47px;
    outline: none;
    opacity: 1%;
}